/* You can add global styles to this file, and also import other style files */
.todos {

    h3{
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input {
            width: 100%;
            padding: 10px;
        }
    }

    &__submit-button {
        width: 400px;
        padding: 10px;
        background-color: #1976d2;
        color: white;
        cursor: pointer;
    }

    &__container {

        ul {
            list-style: none;
            padding: 0;
    
            li {
                padding: 10px;
                border-bottom: 1px solid #e0e0e0;
            }
        }
    }

}
  
.todo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    max-width: 350px;
}
  
.todo-name {
    font-size: 18px;
    font-weight: bold;
}
  
.todo-description {
    max-width: 70%;
    font-size: 14px;
}
  
.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}